body {
    margin: 20;
    padding: 20;
}

.carousel-container {
    width: 150%;
    overflow: hidden;
}

.carousel-slide {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.carousel-slide img {
    width: 75%;
    height: auto;
    /* Optional: If you want the images to maintain aspect ratio, use height: auto; */
}