.gallery-container {
    width: 75%;
    overflow: hidden;
}

.image-gallery {
    white-space: nowrap;
}

.image-gallery img {
    display: inline-block;
    height: 100px; /* Adjust the height to your preference */
    margin: 5px; /* Add some spacing between images */
}