.image-container {
    width: 50%;
    overflow: hidden;
}

.image-container img {
    display: inline-block;
    height: 100px; /* Adjust the height to your preference */
    margin: 5px; /* Add some spacing between images */
}